


.container{
    background-color: #f8f9fb;
}

.icon {
   border: 5px solid #97adcc ;
   font-size: 30px;
   border-radius: 10px;
}

.imgResponsive {
    width: 100%; 
    max-width: 600px;
}

.imgShadow {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}
